[submodule ".config/awesome/lain"]
	path = .config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule ".config/awesome/freedesktop"]
	path = .config/awesome/freedesktop
	url = https://github.com/lcpz/awesome-freedesktop.git
[submodule ".config/awesome/themes/holo/awesome-wm-nice"]
	path = .config/awesome/themes/holo/awesome-wm-nice
	url = https://github.com/mut-ex/awesome-wm-nice.git
	branch = awesome-4v3-stable
[submodule ".config/awesome/themes/holo/nice"]
	path = .config/awesome/themes/holo/nice
	url = https://github.com/mut-ex/awesome-wm-nice.git
	branch = awesome-4v3-stable
[submodule ".config/awesome/nice"]
	path = .config/awesome/nice
	url = https://github.com/mut-ex/awesome-wm-nice.git
	branch = awesome-4v3-stable
[submodule "theme_tmp/thunderbird"]
	path = theme_tmp/thunderbird
	url = https://github.com/catppuccin/thunderbird.git
[submodule ".config/awesome/bling"]
	path = .config/awesome/bling
	url = https://github.com/mward25/bling.git
